web/wsdl.xml

<?xml version="1.0" encoding ="utf-8"?>

<!-- create you wsdl in: http://marin.jb.free.fr/wsdl/ -->
<!-- dar file wsdl: definitions>service>port>property "binding" : add "tns:" in first -->

<definitions name="my service"
             targetNamespace="ir.test.mostafa.wsdl"
             xmlns:tns="ir.test.mostafa.wsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsd1="ir.test.mostafa.xsd"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <!-- definition of datatypes -->
    <types>
        <schema targetNamespace="ir.test.mostafa.xsd" xmlns="http://www.w3.org/2000/10/XMLSchema">
            <element name="name">
                <complexType>
                    <all>
                        <element name="value" type="string"/>
                    </all>
                </complexType>
            </element>
            <element name="return">
                <complexType>
                    <all>
                        <element name="value" type="string"/>
                    </all>
                </complexType>
            </element>
        </schema>
    </types>
    <!-- response messages -->
    <message name='returns_return'>
        <part name='return' type='xsd:return'/>
    </message>
    <!-- request messages -->
    <message name='hello'>
        <part name='name' type='xsd:name'/>
    </message>
    <!-- server's services -->
    <portType name='mostafa'>
        <operation name='hello'>
            <input message='tns:hello'/>
            <output message='tns:returns_return'/>
        </operation>
    </portType>
    <!-- server encoding -->
    <binding name='mostafa_webservices' type='tns:mostafa'>
        <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
        <operation name='hello'>
            <soap:operation soapAction='urn:xmethods-delayed-quotes#hello'/>
            <input>
                <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                           encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                           encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </output>
        </operation>
    </binding>
    <!-- access to service provider -->
    <service name='mostafa'>
        <port name='mostafa_0' binding='tns:mostafa_webservices'>
            <soap:address location='http://localhost/Symfony-SoapService/web/app_dev.php/soap?wsdl'/>
        </port>
    </service>
</definitions>